*{
    box-sizing: border-box;
}

header{
    display:flex;
    background-color: #000;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}









#hero{
    height: 600px;
    background-image:url(images/hands-typing.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#hero h1{
    max-width: 60%;
    color: white;
    text-shadow: 2px 2px black;
    background-color: black;
    
}